body{
  margin      : 0;
  padding     : 1.5em;
  font-family: 'NEXON Gothic',"나눔고딕",NanumGothic,NanumGothicWebFont,"Malgun Gothic","맑은 고딕",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif;
}

.questionlable{
  font-size     : 1.5em;
  line-height   : 2.5em;
}

.anslable{
  font-size     : 1.0em;
  line-height   : 2.5em;
}

.example{
  margin-bottom : 1.5em;
}

.question_number{
  float         : left;
  width         : 6%;
  margin        : 0px 10px 5px 0px;
}

.ans_radio{
  padding       : 10px 0px 0px 10px;
}


.question_title{
  float         : right;
    width         : 94%;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../img/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
