{# knight_login.html #}
{% extends 'survDjango/sym_base.html' %}

{% block headblock %}
    <title>{{symbol.Name}} 차트분석보고서</title>
    <link rel="image_src" href="https://kimsudal.com/static/img/favicon.png">

    <meta itemprop="image" content="https://kimsudal.com/static/img/favicon.png">
    <meta property="og:image" content="https://kimsudal.com/static/img/favicon.png">
    <meta property="twitter:image" content="https://kimsudal.com/static/img/favicon.png">

    <meta name="title" content="{{symbol.Name}} 차트분석보고서">
    <meta property="og:title" content="{{symbol.Name}} 차트분석보고서">
    <meta property="twitter:title" content="{{symbol.Name}} 차트분석보고서">

    <meta name="description" content="주식차트분석으로 유사차트 선정,수익률 상위 종목 추천">
    <meta property="og:description" content="주식차트분석으로 유사차트 선정,수익률 상위 종목 추천">
    <meta property="twitter:description" content="주식차트분석으로 유사차트 선정,수익률 상위 종목 추천">
    <meta name="keywords" content="주식차트,주식차트분석,로보어드바이저,차트분석,차트검색엔진">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kimsudal.com/chart/reco/KRX/{{symbol.Symbol}}">
    <meta property="twitter:url" content="https://kimsudal.com/chart/reco/KRX/{{symbol.Symbol}}">
{% endblock headblock %}

{% block script %}
    function sendHome(homeBtn){
        //setTimeout(function() {
            document.location.href='/chart/';
        //}, 1000);
    }
    function submitRecoUpdate(SysMarketCd,Symbol){
        //setTimeout(function() {
            document.location.href='/symbol/reco_update/'+ SysMarketCd + '/' + Symbol;
        //}, 1000);
    }

    function submitRecoCancel(SysMarketCd,Symbol){
        //setTimeout(function() {
            document.location.href='/symbol/reco_cancel/'+ SysMarketCd + '/' + Symbol;
        //}, 1000);
    }

    function sendNaver(symbol){
        //setTimeout(function() {
            window.open("https://finance.naver.com/item/main.nhn?code=" + symbol,"left=0, top=0");
        //}, 1000);
    }

{% endblock script %}


{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="analdate_box">
    분석기준일 : {{analdate|date:"m/d"}}
    </div>
    <div class="symbol_serch_box">
        <span class="symbol_name_span">분석 보고서</span>
    </div>
    <table  class="reco_table_box">
        <tr>
            <td class="reco_cont_td_box1">종목 :</td>
            <td class="reco_cont_td_box2">
                {{symbol.Name}} ({{symbol.Symbol}})
            </td>
        </tr>
        <tr>
            <td class="reco_cont_td_box1">예상수익률 :</td>
            <td class="reco_cont_td_box2">
                {%if recoSymbol.Content1 == 0 %}<span class="prorate_zero_font_span">{{ recoSymbol.Content1|stringformat:".2f%%"}}</span>
                {%elif recoSymbol.Content1 > 0 %}<span class="prorate_up_font_span">{{ recoSymbol.Content1|stringformat:".2f%%"}}</span>
                {%else %}<span class="prorate_down_font_span">{{ recoSymbol.Content1|stringformat:".2f%%"}}</span>
                {%endif%}
                /
                {%if recoSymbol.Content2 == 0 %}<span class="prorate_zero_font_span">{{ recoSymbol.Content2|stringformat:".2f%%"}}</span>
                {%elif recoSymbol.Content2 > 0 %}<span class="prorate_up_font_span">{{ recoSymbol.Content2|stringformat:".2f%%"}}</span>
                {%else %}<span class="prorate_down_font_span">{{ recoSymbol.Content2|stringformat:".2f%%"}}</span>
                {%endif%}

            </td>
        </tr>
    </table>

    {{ form.as_p }}
    <div class="reco_list_box">
        <img class="reco_chart_img_box" src="https://ssl.pstatic.net/imgfinance/chart/item/candle/day/{{symbol.Symbol}}.png?sidcode=1603459099064">
    </div>
    <br>
    {%if sim_con %}
        <div class="symbol_serch_box">
            <span class="symbol_name_span">중기 차트 탐색 결과</span>
        </div>

        <table class="reco_table_box">
            <tr>
                <td class="reco_cont_td_box1">분석결과 :</td>
                <td class="reco_cont_td_box2">
                    {%if sim_con.SimTypeCd == '01' %}10일 차트 분석
                    {%elif sim_con.SimTypeCd == '02' %}5일 차트 분석
                    {%elif sim_con.SimTypeCd == '03' %}특이점 없는 차트
                    {%elif sim_con.SimTypeCd == '04' %}유사차트 없음
                    {%elif sim_con.SimTypeCd == '05' %}특이점 없는 차트
                    {%elif sim_con.SimTypeCd == '06' %}유사차트 없음
                    {%else %} 기타
                    {%endif%}
                </td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">유사한 차트 :</td>
                <td class="reco_cont_td_box2">{{sim_con.SimSymbolCnt|stringformat:".d"}} 건</td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">평균수익률 :</td>
                <td class="reco_cont_td_box2">{{ sim_con.Content1|stringformat:".2f%%"}} / {{ sim_con.Content2|stringformat:".2f%%"}}</td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">차트패턴 :</td>
                <td class="reco_cont_td_box2">{{ sim_con.Content3}} </td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">유사종목 :</td>
                <td class="reco_cont_td_box2">
                    {% for reco_candle in reco_candlelist %}
                        {{ reco_candle.Name}}<span class="small_font_span">({{ reco_candle.BaseDate|date:"Y/m/d"}})</span>
                        <span class="prorate_up_font_span">{{ reco_candle.Content1|stringformat:".2f%%"}}</span>
                        <span class="prorate_up_font_span">{{ reco_candle.Content2|stringformat:".2f%%"}}</span>
                        / {{ reco_candle.Content3 }}
                        / {{ reco_candle.Content4 }}
                    <br>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {%endif%}

    {%if sim_con2 %}
        <div class="symbol_serch_box">
            <span class="symbol_name_span">단기 차트 탐색 결과</span>
        </div>
        <table class="reco_table_box">
            <tr>
                <td class="reco_cont_td_box1">분석결과 :</td>
                <td class="reco_cont_td_box2">
                    {%if sim_con2.SimTypeCd == '01' %}10일 차트 분석
                    {%elif sim_con2.SimTypeCd == '02' %}5일 차트 분석
                    {%elif sim_con2.SimTypeCd == '03' %}특이점 없는 차트
                    {%elif sim_con2.SimTypeCd == '04' %}유사차트 없음
                    {%elif sim_con2.SimTypeCd == '05' %}특이점 없는 차트
                    {%elif sim_con2.SimTypeCd == '06' %}유사차트 없음
                    {%else %} 기타
                    {%endif%}
                </td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">유사한 차트 :</td>
                <td class="reco_cont_td_box2">{{sim_con2.SimSymbolCnt|stringformat:".d"}} 건</td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">평균수익률 :</td>
                <td class="reco_cont_td_box2">{{ sim_con2.Content1|stringformat:".2f%%"}} / {{ sim_con2.Content2|stringformat:".2f%%"}}</td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">차트패턴 :</td>
                <td class="reco_cont_td_box2">{{ sim_con2.Content3}} </td>
            </tr>
            <tr>
                <td class="reco_cont_td_box1">유사종목 :</td>
                <td class="reco_cont_td_box2">
                    {% for reco_candle in reco_candlelist2 %}
                        {{ reco_candle.Name}}<span class="small_font_span">({{ reco_candle.BaseDate|date:"Y/m/d"}})</span>
                        <span class="prorate_up_font_span">{{ reco_candle.Content1|stringformat:".2f%%"}}</span>
                        <span class="prorate_up_font_span">{{ reco_candle.Content2|stringformat:".2f%%"}}</span>
                        / {{ reco_candle.Content3 }}
                        / {{ reco_candle.Content4 }}
                    <br>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {%endif%}

    <table class="reco_table_box">
        <tr>
            <td class="reco_cont_td_box1">네이버주식 :</td>
            <td class="reco_cont_td_box2">
                <a href="javascript:sendNaver('{{recoSymbol.Symbol}}');"><img src="/static/img/naver_link.jpg" width="50" class="link_img_box"/></a>
            </td>
        </tr>
        <tr id="link_copy_tr" >
            <td class="reco_cont_td_box1">보고서공유 :</td>
            <td class="reco_cont_td_box2">
                <a href="javascript:copyShareLink()"><img id="link_copy_btn" src="/static/img/share_api.png" width="50" class="link_img_box"/></a>
            </td>
        </tr>
        <tr>
            <td class="reco_cont_td_box1">추천 :</td>
            <td class="reco_cont_td_box2">
                <a onclick="submitRecoUpdate('KRX' ,'{{ recoSymbol.Symbol}}');">
                    <div class="recoBtn">추천</div>
                </a>
                <a onclick="submitRecoCancel('KRX' ,'{{ recoSymbol.Symbol}}');">
                    <div class="recoBtn">취소</div>
                </a>
            </td>
        </tr>


    </table>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <div id="coupang_add_box_pc">
        <script>
            new PartnersCoupang.G({ id:354999 });

        </script>
    </div>
    <div id="coupang_add_box_mobile">
        <script>
            new PartnersCoupang.G({ id:326670 });
        </script>
    </div>
    <br>
* 투자의 책임은 본인에게 있습니다. <br>&nbsp;&nbsp;신중한 투자를 하세요.
    <br>
</form>
{% endblock body %}

{% block script2 %}

    if (typeof navigator.share == "undefined") {
        coupang_add_box_pc.style.display = '';
        coupang_add_box_mobile.style.display = 'none';
    }else{
        coupang_add_box_pc.style.display = 'none';
        coupang_add_box_mobile.style.display = '';
    }

    if (typeof navigator.share == "undefined") {
        // 공유하기 버튼을 지원하지 않는 경우에 대한 폴백 처리
        link_copy_tr.style.display = 'none';
    }

    function copyShareLink() {
        navigator.share({
            title: document.title,
            text: document.title + '차트검색엔진 결과, 유사차트탐색, 이후 평균수익률, 상승확률 보고서',
            url: document.location.href,
        });
    }

{% endblock script2 %}

