{# knight_login.html #}
{% extends 'survDjango/sym_base.html' %}

{% block script %}

        function anal2Click(clickBtn){
            //setTimeout(function() {
                document.location.href='/symbol/anal2/KRX/'+adminAnaldate.value;
            //}, 1000);
        }

        function anal3Click(clickBtn){
            //setTimeout(function() {
                document.location.href='/symbol/anal3/KRX/'+adminAnaldate.value;
            //}, 1000);
        }

        function anal4Click(clickBtn){
            //setTimeout(function() {
                document.location.href='/symbol/anal4/KRX/'+adminAnaldate.value;
            //}, 1000);
        }

        function anal5Click(clickBtn){
            //setTimeout(function() {
                document.location.href='/symbol/prorate_update/KRX/'+adminAnaldate.value+ '/000000';
            //}, 1000);
        }


        function anal1Click(clickBtn){
            //setTimeout(function() {
                document.location.href='/symbol/day_update/KRX/'+adminAnaldate.value;
            //}, 1000);
        }

        function anal12Click(clickBtn){
            //setTimeout(function() {
                document.location.href='/symbol/day_update2/KRX/'+adminAnaldate.value;
            //}, 1000);
        }

        function submitRecoUpdate(SysMarketCd,Symbol){
            //setTimeout(function() {
                document.location.href='/symbol/reco_update/'+ SysMarketCd + '/' + Symbol;
            //}, 1000);
        }

        function sendNaver(symbol){
            //setTimeout(function() {
                window.open("https://finance.naver.com/item/main.nhn?code=" + symbol,"left=0, top=0");
            //}, 1000);
        }

{% endblock script %}


{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="analdate_box">
    분석기준일 : {{analdate|date:"m/d"}}
    </div>

    {{ form.as_p }}
    <div class="reco_list_box">
        분석일 :
        <input name="adminAnaldate" class="serchInput" id="adminAnaldate" maxlength="20" value='{{analdate|date:"Y-m-d"}}'><br>
        <span class="serchBtn" id="anal1Btn" onclick="anal1Click(anal1Btn);">차트로드</span>
        <span class="serchBtn" id="anal12Btn" onclick="anal12Click(anal12Btn);">차트로드2</span>
        <span class="serchBtn" id="anal2Btn" onclick="anal2Click(anal2Btn);">중기분석</span>
        <span class="serchBtn" id="anal3Btn" onclick="anal3Click(anal3Btn);">단기분석</span>
        <span class="serchBtn" id="anal4Btn" onclick="anal4Click(anal4Btn);">종목선정</span>
        <span class="serchBtn" id="anal5Btn" onclick="anal5Click(anal5Btn);">수익생성</span>
        {% for analh in analhlist.all %}
            <div class="symbol_serch_list_box">
                {{ analh.createDate|date:"Ymd h:i:s"}} : {{ analh.AnalDate|date:"Y-m-d"}} : {{ analh.AnalTypeCd}} : {{ analh.CompleteYn}}
            </div>
        {% endfor %}
    </div>
    {% for dict_reco in dict_recolist %}
        <div class="reco_list_box">
            <table class="reco_table_box">
                <tr>
                    <td class="reco_td_box1">
                        {{ dict_reco.AnalDate|date:"m/d"}}
                    </td>
                    <td class="reco_td_box2">
                        <span class="symbol_name_span">{{ dict_reco.Name}}</span> ({{ dict_reco.Symbol}})<br>
                        {%if dict_reco.Content1 == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Content1|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Content1 > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Content1|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Content1|stringformat:".2f%%"}}</span>
                        {%endif%}
                        /&nbsp;&nbsp;&nbsp;
                        {%if dict_reco.Content2 == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Content2|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Content2 > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Content2|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Content2|stringformat:".2f%%"}}</span>
                        {%endif%}
                        /&nbsp;&nbsp;&nbsp;
                        {%if dict_reco.Prorate == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Prorate|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Prorate > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Prorate|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Prorate|stringformat:".2f%%"}}</span>
                        {%endif%}
                        /
                        {%if dict_reco.Prorate2 == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Prorate2|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Prorate2 > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Prorate2|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Prorate2|stringformat:".2f%%"}}</span>
                        {%endif%}
                        / {{ dict_reco.RecoTypeCd}} / {{ dict_reco.SimSymbolCnt}}건 / {{ dict_reco.Content3}}
                    </td>
                    <td class="reco_td_box3">
                        <a onclick="submitRecoUpdate('KRX' ,'{{ dict_reco.Symbol}}');">
                            <div class="recoBtn">추천</div>
                        </a>
                        <a onclick="submitReco('KRX' ,'{{ dict_reco.Symbol}}');">
                            <div class="recoBtn">분석</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    <br>
    * 수익률 상위 종목들
    {% for dict_reco in dict_recolist2 %}
        <div class="reco_list_box">
            <table class="reco_table_box">
                <tr>
                    <td class="reco_td_box1">
                        {{ dict_reco.AnalDate|date:"m/d"}}
                    </td>
                    <td class="reco_td_box2">
                        <span class="symbol_name_span">{{ dict_reco.Name}}</span> ({{ dict_reco.Symbol}})<br>
                        {%if dict_reco.Content1 == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Content1|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Content1 > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Content1|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Content1|stringformat:".2f%%"}}</span>
                        {%endif%}
                        /&nbsp;&nbsp;&nbsp;
                        {%if dict_reco.Content2 == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Content2|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Content2 > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Content2|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Content2|stringformat:".2f%%"}}</span>
                        {%endif%}
                        /&nbsp;&nbsp;&nbsp;
                        {%if dict_reco.Prorate == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Prorate|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Prorate > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Prorate|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Prorate|stringformat:".2f%%"}}</span>
                        {%endif%}
                        /
                        {%if dict_reco.Prorate2 == 0 %}<span class="prorate_zero_font_span">{{ dict_reco.Prorate2|stringformat:".2f%%"}}</span>
                        {%elif dict_reco.Prorate2 > 0 %}<span class="prorate_up_font_span">{{ dict_reco.Prorate2|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ dict_reco.Prorate2|stringformat:".2f%%"}}</span>
                        {%endif%}
                        / {{ dict_reco.RecoTypeCd}} / {{ dict_reco.SimSymbolCnt}}건 / {{ dict_reco.Content3}}
                    </td>
                    <td class="reco_td_box3">
                        <a onclick="submitReco('KRX' ,'{{ dict_reco.Symbol}}');">
                            <div class="recoBtn">분석</div>
                        </a>
                        <a href="javascript:sendNaver('{{dict_reco.Symbol}}');"><img src="/static/img/naver_link.jpg" width="50" class="link_img_box"/></a>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}

</form>
{% endblock body %}

