{# knight_login.html #}
{% extends 'survDjango/sym_base.html' %}

{% block script %}
{% endblock script %}


{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="analdate_box">
    분석기준일 : {{analdate|date:"m/d"}}
    </div>
    <div class="symbol_serch_box">
        <span class="symbol_name_span">분석 보고서</span>
    </div>
    <table  class="reco_table_box">
        <tr>
            <td class="reco_cont_td_box1">종목 :</td>
            <td class="reco_cont_td_box2">
                {{symbol.Name}} ({{symbol.Symbol}})
            </td>
        </tr>
    </table>


    {{ form.as_p }}

    <div class="reco_list_box">
        <img class="reco_chart_img_box" src="https://ssl.pstatic.net/imgfinance/chart/item/candle/day/{{symbol.Symbol}}.png?sidcode=1603459099064">
    </div>
        <br>
    <div class="symbol_serch_box">
        <span class="symbol_name_span">유사 차트 탐색 결과</span>
    </div>
    {% if simconlist %}


        {% for simcon in simconlist %}

        <div class="index_cont_box1">
            <table class="reco_table_box">
                <tr>
                    <td class="reco_cont_td_box1">분석일 :</td>
                    <td class="reco_cont_td_box2">
                        {{simcon.AnalDate|date:"y/m/d"}}
                    </td>
                </tr>
                <tr>
                    <td class="reco_cont_td_box1">분석유형 :</td>
                    <td class="reco_cont_td_box2">
                        {%if simcon.SimTypeCd == '01' %}10일 차트 분석
                        {%elif simcon.SimTypeCd == '02' %}5일 차트 분석
                        {%elif simcon.SimTypeCd == '03' %}특이점 없는 차트
                        {%elif simcon.SimTypeCd == '04' %}유사차트 없음
                        {%else %} 기타
                        {%endif%}
                    </td>
                </tr>
                <tr>
                    <td class="reco_cont_td_box1">유사한 차트 :</td>
                    <td class="reco_cont_td_box2">{{simcon.SimSymbolCnt|stringformat:".d"}}개 발견</td>
                </tr>
                <tr>
                    <td class="reco_cont_td_box1">평균수익률 :</td>
                    <td class="reco_cont_td_box2">
                        {%if simcon.Content1 == 0 %}<span class="prorate_zero_font_span">{{ simcon.Content1|stringformat:".2f%%"}}</span>
                        {%elif simcon.Content1 > 0 %}<span class="prorate_up_font_span">{{ simcon.Content1|stringformat:".2f%%"}}</span>
                        {%else %}<span class="prorate_down_font_span">{{ simcon.Content1|stringformat:".2f%%"}}</span>
                        {%endif%}
                    </td>
                </tr>
            </table>

        </div>
        {% endfor %}
    </table>
    * 차트지원 개발중<br>
    {% else %}
        분석결과 없음.<br>
    * 분석데이터 저장 중이라 없는 종목이 많습니다.<br>
    {% endif %}
    <table class="reco_table_box">
        <tr>
            <td class="reco_cont_td_box1">네이버주식 :</td>
            <td class="reco_cont_td_box2">
                <a href="javascript:sendNaver('{{symbol.Symbol}}');"><img src="/static/img/naver_link.jpg" width="50" class="link_img_box"/></a>
            </td>
        </tr>
    </table>
    <script src="https://ads-partners.coupang.com/g.js"></script>
    <div id="coupang_add_box_pc">
        new PartnersCoupang.G({ id:354999 });
    </div>
    <div id="coupang_add_box_mobile">
        new PartnersCoupang.G({ id:326670 });
    </div>
</form>
{% endblock body %}

{% block script2 %}

    if (typeof navigator.share == "undefined") {
        coupang_add_box_pc.style.display = '';
        coupang_add_box_mobile.style.display = 'none';
    }else{
        coupang_add_box_pc.style.display = 'none';
        coupang_add_box_mobile.style.display = '';
    }



{% endblock script2 %}

