{# knight_login.html #}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card{
            width : 100px;
            border-color: #9d9d00;
            background-color: #9d9d9d;
            vertical-align: middle;
            line-height: 100px;
            margin: 5px auto 5px auto;
        }
    </style>

    <script type="text/javascript">
    var selectCardCnt = 0;

    function selectKnight(knightId){
        //alert(knightId);


        if ( knightId.border == 0 ){

             if (selectCardCnt >= 2 ){
                alert("카드는 두장만 선택할수 있습니다.");
                return false;
            }
            knightId.border = 5;
            selectCardCnt++;
        }
        else{
            knightId.border = 0;
            selectCardCnt--;
        }

    }

    function submitFrom(){
        //alert(knightId);
        var knightliststr = "";
        var cardlist = document.getElementsByClassName("card");
        for( var i = 0; i < cardlist.length ; i ++ ){
            if ( cardlist[i].border == 5 ){
                knightliststr = knightliststr + ( i+1 ) + ";";
            }
        }
        id_knightliststr.value = knightliststr;
        document.forms[0].submit();
    }
    </script>


</head>
<body>
{% include "./top_menu.html" %}
<form method="post">
    {% csrf_token %}
    카드를 고르고 원정을 시작하세요 ->  <input onclick="submitFrom();" value="원정시작" type="button" width="100%"/>
    {{ form.as_p }}
    {% load static %}
   <table class="table">
    <tbody>
        <tr>
            {% for knight in knightlist.all %}
                <td scope="row">

                    <img class="card" src="{% static  knight.knightId %}.JPG"  name="knightImg{{ knight.knightId }}" border="0" onclick="selectKnight( knightImg{{ knight.knightId }} )">
                    <!--BR>{{ knight.name }}<-->
                </td>

                {% if knight.knightId|divisibleby:3 != 0 %}
                    <tr></tr>
                {% endif %}
            {% endfor %}
        </tr>
       </tbody>
     </table>

</form>
</body>
</html>