{# knight_login.html #}
{% extends 'survDjango/base.html' %}

{% block script %}
    function submitFrom(){
        start_box.className = start_box.className +  "  animate__animated animate__fadeIn selected";
        setTimeout(function() {
            document.location.href='{% url 'surv_view' survid=surv.survId %}';
        }, 1000);
    }
{% endblock script %}


{% block body %}
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <!--div class="basic_cont_box">
    <label class="resultlable">{{ surv.title }}</label>
    </div-->
    <div class="start_img_box" style="background-image:url('/static/img/{{ surv.imgFile }}');">
    </div>
    <div class="start_box" id="start_box" onclick="submitFrom();">
        시 작 하 기
    </div>
    <div class="start_cont_box2">
        <div class="result_content">{{ surv.content|linebreaks }}</div>
    </div>

</form>
{% endblock body %}

