{# knight_login.html #}
{% extends 'survDjango/base.html' %}

{% block script %}
    var selectCardCnt = 0;

    function nextPage(questionId, nextQuestionId,ansId){
        //ansId.style.backgroundColor = "#999";
        //document.forms[0].radio1.value
        ansId.className = ansId.className +  "  animate__animated animate__fadeIn selected";


        setTimeout(function() {
            questionId.style.display = "none";
            nextQuestionId.style.display = "";
        }, 500);
    }
    function submitFrom(questionId,ansId){
        ansId.className = ansId.className +  "  animate__animated animate__fadeIn selected";
        questionId.style.display = "none";
        loading_cont_box.style.display = "";
        setTimeout(function() {
            document.forms[0].submit();
        }, 1500);
    }
{% endblock script %}

{% block body %}
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {% for question in question_arr %}
        <div class="questionclass" id="question{{question.questionId}}" {%if question.questionId != 1%}style="display:none;"{%endif%}>

            <div class="brd_cont_box">
                {%if question.imgFile%}
                <div class="question_cont_box1" style="background-image:url('/static/img/{{ question.imgFile }}');">
                    <div class="question_cont_box2">
                        {{question.content2|linebreaks}}
                    </div>
                </div>
                {%endif%}
                <div class="question_title"><label class="questionlable">{{ question.content|linebreaks }}</label></div>
            </div>
            <div class="question_page_box">
                <label class="question_page">{{ question.questionId }} / {{ surv.question_num }} </label>
            </div>
            <div class="ans_cont_box">
                {% for ans in question.ans_arr %}

                    {%if question.questionId == surv.question_num%}
                    <a onclick="submitFrom(question{{question.questionId}},anslabel_{{ question.questionId }}_{{ ans.ansId }}) ;">
                    {%endif%}
                    {%if question.questionId != surv.question_num%}
                    <a onclick="nextPage(question{{question.questionId}} ,question{{question.next_questionId}} ,anslabel_{{ question.questionId }}_{{ ans.ansId }});">
                    {%endif%}
                        <input id="radio_{{ question.questionId }}_{{ ans.ansId }}" type="radio" name="radio{{ question.questionId }}" value="{{ ans.ansId }}" class="ans_radio">

                        <!--div class="ans_div" for="radio_{{ question.questionId }}_{{ ans.ansId }}"-->
                            <label for="radio_{{ question.questionId }}_{{ ans.ansId }}" id="anslabel_{{ question.questionId }}_{{ ans.ansId }}"
                                   class="anslable" style="background-image:url('/static/img/anslabel{{ ans.ansId }}.png');">{{ ans.content|linebreaks }}</label>

                        <!--/div-->
                    </a>
                {% endfor %}
            </div>

            <br><br>
        </div>
    {% endfor %}
    <div class=loading_cont_box" id="loading_cont_box" style="display:none;">
        <div class="loading_gif_box">
            <img src="/static/img/loading.gif">
        </div>

        <div class="start_img_box" >
        </div>
        <div class="start_cont_box2">
            <div class="result_content"><b>{{surv.content3}}에서 분석중입니다.</b></div>
        </div>
    </div>
</form>
{% endblock body %}
