{# knight_login.html #}
{% extends 'survDjango/base.html' %}

{% block script %}
    var selectCardCnt = 0;

    function nextPage(questionId, nextQuestionId){

        //document.forms[0].radio1.value


        questionId.style.display = "none";
        nextQuestionId.style.display = "";
    }
    function submitFrom(){

        {% for page in page_arr %}
            {% for question in page.question_arr %}
        radio{{ question.questionId }}.value
            {% endfor %}
        {% endfor %}

        document.forms[0].submit();
    }
{% endblock script %}

{% block body %}
<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {% for question in question_arr %}
        <div class="questionclass" id="question{{question.questionId}}" {%if question.questionId != 1%}style="display:none;"{%endif%}>

            <div class="brd_cont_box">
                <div class="question_title"><label class="questionlable">{{ question.content|linebreaks }}</label></div>
            </div>
            <div class="question_page_box">
                <label class="question_page">{{ question.questionId }} / {{ surv.question_num }} </label>
            </div>
            <div class="ans_cont_box">
                {% for ans in question.ans_arr %}

                    {%if question.questionId == surv.question_num%}
                    <a onclick="submitFrom() ;">
                    {%endif%}
                    {%if question.questionId != surv.question_num%}
                    <a onclick="nextPage(question{{question.questionId}} ,question{{question.next_questionId}});">
                    {%endif%}
                        <input id="radio_{{ question.questionId }}_{{ ans.ansId }}" type="radio" name="radio{{ question.questionId }}" value="{{ ans.ansId }}" class="ans_radio">

                        <!--div class="ans_div" for="radio_{{ question.questionId }}_{{ ans.ansId }}"-->
                            <label for="radio_{{ question.questionId }}_{{ ans.ansId }}" class="anslable">{{ ans.content|linebreaks }}</label>

                        <!--/div-->
                    </a>
                {% endfor %}
            </div>

            <br><br>
        </div>
    {% endfor %}

</form>
{% endblock body %}
